body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #a7b342;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
header .logo {
    float: left;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}
nav{
    float: right;
    margin-right: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}